<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Tipe Pembayaran</th>
            <th>Banks</th>
            <th>Status</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody> 
     
    <% for( let i = 0; i <= payment?.length; i++ ) { %>
        <% if (payment[i]?.type) { %>
            <tr>
                <td><%= i + 1 %> </td>
                <td><%= payment[i]?.type %> </td> 
                <td>
                   <% payment[i]?.banks.forEach(banks => { %>
                     <div class="badge badge-warning">
                        <%= banks?.name %> - <%= banks?.noRekening %>
                    </div>
                   <% }) %>
                </td> 
                <td>

                <% if (payment[i]?.status=='Y') { %>
                    <div class="badge badge-success">
                        Aktif
                    </div>
                <% } else { %>
                    <div class="badge badge-success">
                        Tidak Aktif
                    </div>
                <% } %>

 
                
                </td> 
                <td class="text-center">
                <form action="/payment/status/<%= payment[i]?._id %>?_method=PUT " method="post">
                    <button  class="btn btn-info" style="color: white;">
                        <i class="fas fa-info "></i>
                        <% if (payment[i]?.status=='Y' ) { %>
                                Disable
                        <% } else { %>
                                Enable
                            <% } %>                    
                    </button>
                </form>

                   
                    <a href="/payment/edit/<%= payment[i]?._id %>" class="btn btn-warning" style="color: white;">
                        <i class="fas fa-edit "></i>
                        Edit
                    </a>
                    <form action="/payment/delete/<%= payment[i]?._id %>?_method=DELETE " method="post">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>
                            Hapus
                        </button>
                    </form>
                   
                </td>
            </tr>
        <% } %>
    <% } %>
                </tbody>
    <!-- <tfoot>
        <tr>
            <th>Rendering engine</th>
            <th>Browser</th>
            <th>Platform(s)</th>
            
        </tr>
    </tfoot> -->
</table>